{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {cowboy, "2.0.0"},
        {lager, "3.5.1"},
        {syn, "1.6.1"},
        {jsx, "2.8.2"},

        %% need to explicitly set fast_tls or stun trips
        {fast_tls, {git, "https://github.com/processone/fast_tls", {tag, "1.0.17"}}},
        {stun, {git, "https://github.com/processone/stun.git", {ref, "0ccce8"}}}
       ]}.

{ct_opts, [{sys_config, "conf/test.config"}]}.

{profiles, [
            {test, [
                   {deps, [
                           {websocket_client, {git, "https://github.com/jeremyong/websocket_client.git", {ref, "9a6f65d"}}}
                          ]},
                    {erl_opts, [nowarn_export_all]}
                  ]}
           ]}.
