{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {cowboy, "2.0.0"},
        {lager, "3.5.1"},
        {syn, "1.6.1"},
        {jsx, "2.8.2"},
        {stun, "1.0.20"}
       ]}.

{ct_opts, [{sys_config, "conf/test.config"}]}.

{profiles, [
            {test, [
                   {deps, [
                           {websocket_client, {git, "https://github.com/jeremyong/websocket_client.git", {ref, "9a6f65d"}}}
                          ]},
                    {erl_opts, [nowarn_export_all]}
                  ]}
           ]}.
