[{webrtc_server, [
                  {port, 8443},
                  {auth_realm, <<"localhost">>},
                  {certfile, <<"priv/certs/certificate.pem">>},
                  {keyfile, <<"priv/certs/key.pem">>},
                  {auth_fun, {example_auth, authenticate}},
                  {example_password, <<"password">>}
]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}]}
         ]}

].
