[{webrtc_erlang, [
                  {turn_ip, <<"127.0.0.1">>},
                  {auth_realm, <<"localhost">>},
                  %% this password should be the same used in the client
                  {password, <<"credential">>},
                  {certfile, <<"">>},
                  {keyfile, <<"">>}
]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}]}
         ]}

].
