[{webrtc_server, [
                  {port, 8443},
                  {hostname, <<"localhost">>},
                  {certfile, <<"../../lib/webrtc_server/priv/certs/certificate.pem">>},
                  {keyfile, <<"../../lib/webrtc_server/priv/certs/key.pem">>},
                  {auth_fun, {example, authenticate}},
                  {create_callback, {example, create}},
                  {join_callback, {example, join}},
                  {leave_callback, {example, leave}},
                  {example_password, <<"password">>}
]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, debug}]}]}
         ]}

].
