{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
        {cowboy, "2.0.0"},
        {webrtc_server, {git, "https://github.com/lambdaclass/webrtc-server", {ref, "2440c6b"}}}
       ]}.

{relx, [{release, {example, "0.1.0"},
         [example]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, false},
        {sys_config, "conf/sys.config"}
       ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {sys_config, "./conf/prod.config"},
                            {extended_start_script, true}]}]}]}.
