[{example, [
            {port, 8443},
            {certfile, <<"../priv/certs/certificate.pem">>},
            {keyfile, <<"../priv/certs/key.pem">>},
            {example_password, <<"password">>}
           ]},
 {webrtc_server, [
                  {hostname, <<"localhost">>},
                  {certfile, <<"../priv/certs/certificate.pem">>},
                  {keyfile, <<"../priv/certs/key.pem">>},
                  {auth_fun, {callbacks, authenticate}},
                  {create_callback, {callbacks, create}},
                  {join_callback, {callbacks, join}},
                  {leave_callback, {callbacks, leave}},
                  {idle_timeout, infinity}
]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}]}
         ]}

].
